**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Nicole Kim
- Rikako Ono
- Geena Limfat
- MyungJoo Kim
- Elizaveta Beltyukova

# Research Question

Does higher usage of public transportation in a county affect the number of car crashes in that county? 

Additionally, does higher use of public transportation lessen the severity of the car accident?

## Background and Prior Work


Over the years, advancements in car safety, including structural design improvements and technological developments, have enhanced vehicle safety.
Despite these progressions, the frequency of car accidents has increased significantly in recent years.
In the United States alone, there were 6,102,936 police-reported vehicle accidents in 2021<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2).
Various factors contribute to car crashes in the US, such as distracted driving, speeding, drunk driving, reckless driving, and tailgating.
Notably, more than a third (36%) of all fatal crashes involve alcohol<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2).

These behaviors collectively contribute to the high rate of car accidents in the US, underlining the importance of addressing these issues through awareness campaigns, preventive measures, and effective policies to enhance road safety.

Public transportation serves as a vital component of urban areas by offering consistent transportation services through modes like buses, streetcars, light rail, ferries, and subways.
This mode of transportation is essential for diverse groups such as older adults, individuals with disabilities, and commuters, particularly in major cities where public transit is prevalent. 
Public transportation not only provides a means of travel but also contributes to health and equity in various ways.
Research indicates that public transportation can reduce traffic accidents and air pollution while increasing physical activity and improving access to essential services like medical care, healthy food, employment opportunities, and social connections.<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3). 
Despite these benefits, it remains unexplored whether the utilization of public transportation correlates with the severity of car crashes in an area.

To investigate the relationship between public transport usage and the number and severity of car crashes in an area, one could explore how increased public transportation utilization might lead to reduced traffic congestion and fewer private vehicles on the road. 
However, it’s also possible that less traffic congestion could encourage drivers to travel at higher speeds, thus being more likely to cause a more severe/fatal accident in the area.
Another factor to consider is that with increased public transport use, there could be more pedestrians, and therefore potentially more car-caused pedestrian injuries or deaths. 

1. <a name="cite_note-1"></a> [^](#cite_ref-1) [Evaluating Public Transportation Health Benefits. (n.d.).](https://www.vtpi.org/tran_health.pdf) 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) [Moore, T. (2024, January 16). Fatal car crash statistics 2024. USA Today.](https://www.usatoday.com/money/blueprint/auto-insurance/fatal-car-crash-statistics/#:~:text=There%20are%20nearly%2043%2C000%20fatal,accidents%20in%20the%20United%20States.&text=Of%20those%2C%2039%2C508%20were%20fatal) 
3. <a name="cite_note-3"></a> [^](#cite_ref-3) [Top 25 causes of car accidents: Exploring the major factors. GJEL Accident Attorneys. (2023, November 24).](https://www.gjel.com/car-accident-lawyers/top-causes-car-accidents )

# Hypothesis


Alternate Hypothesis: We hypothesize that higher use of public transportation lessens the number of accidents due to several factors. One of the factors being that public transportation involves professional drivers who go through rigorous training to operate the mode of transportation that they are in charge of and may adhere more strictly to traffic regulations and safety protocols which can reduce the likelihood of accidents. Therefore, they will be better experienced and equipped to handle situations that may cause accidents. Additionally, a higher usage of public transportation will result in fewer vehicles on the road which can reduce congestion and lower the probability of accidents. Thus, we hypothesize that a higher utilization of public transportation could contribute to a safer transportation environment and reduce the number of accidents on the road. In addition to this, we believe that higher use of public transportation will also lessen the severity of car accidents that occur. A higher use of public transportation indicates that there will be fewer vehicles on the road which can potentially reduce the number of reckless drivers on the road as well. Fewer reckless drivers on the road can lessen the severity of accidents. Since there are also less cars on the road, there would be less cars to crash into each other and create a 'domino effect' and involve other vehicles, thus involving less people and potentially lessening the overall severity of the entire crash. Additionally, public transportation drivers are better equipped to handle accidents as they have more training so they can better react to the situation and potentially lesssen the severity of the crash.

Null Hypothesis: The use of public transportation does not affect the number of car crashes. It also does not affect the severity of the accident.

# Data

## Data overview

- Dataset #1
  - Dataset Name: US Accidents (2016 - 2023)
  - Link to the dataset: https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents?select=US_Accidents_March23.csv
  - Number of observations: 7,728,394
  - Number of variables: 46
- Dataset #2
  - Dataset Name: Highest Public Transit Usage Cities in California
  - Link to the dataset: https://www.homearea.com/rankings/place-in-ca/percent_using_public_transportation/#:~:text=The%20California%20percent%20using%20public,year%20saw%20several%20big%20changes
  - Number of observations: 62
  - Number of variables: 3

The first dataset refers to the US accident, encompassing 7,728,394 observations recorded between 2016 and 2023.
The main features in this dataset include  the name of City, start time, description of the accident, and severity.
The second dataset focuses  on public transportation usage in California, specifically in 62 cities in CA. This dataset comprises exactly 62 observations, each corresponding to a different city.

We propose combining the subset of the first dataset, focusing only on the region of California in 2017, with the second dataset to address the impact of public transportation on the car accident rate in California and other potential factors.
This combined dataset allows a comprehensive analysis of the relationship between public transportation use, and various factors influencing car accidents in California.

## Data Cleaning

### Dataset #1

This dataset is somewhat clean. The dataset is consistent and uniform throughout. There is a small issue with completeness, as there is some missing data. 
The dataset's description states, “There is missing data for certain days, which could be due to network connectivity issues during data collection.” 
However, for the values that do remain, we are confident that they are accurate and reliable. 
In the description, it states “The data was collected from APIs broadcast traffic data captured by various entities, including the US and state departments of transportation, law enforcement agencies, traffic cameras, and traffic sensors within the road networks.” 
Because APIs have low latency, real-time data processing, and quick response times, we can conclude that the data is precise. 
We can also conclude from this excerpt that the sources are credible and trustworthy.

In terms of pre-processing, we will clean the data by removing any missing inputs. 
We will attempt to make the file smaller so that it can be cleaned and uploaded to GitHub. 
We have confirmed that the dataset included at least a year’s worth of data to observe trends for appropriate time frames. 
We also checked that the source was reliable. 

To make our data usable, we first converted the ‘Start_Time’ column into a datetime object, so that we can filter the crash data by year (2017). Within the to_datetime function, we specified errors = ‘coerce’ to better handle improper formatted or mixed date strings in the dataframe. Then, we filtered the state to just be California, and the year to just be 2017 (using dt.year). Then, we selected the columns ‘Start_Time’, ‘Severity’, ‘City’, and ‘Description’, and sorted the dataframe by Start_Time, while also resetting the index.  
 


### Dataset #2

This dataset is very clean. This is mainly because we created our own data set. Thus, we had full control over what variables, observations, and units of measurement were included.
We had full control of the quality of the data set. We made sure all the data was consistent and complete.
We ensured the credibility of the data, by making sure it was taken from a reputable source like the U.S. Census Bureau American Community Survey.
Unfortunately, the data may have small holes in precision, as survey participation is often voluntary.
However, the source states that certain cities “were ranked the previous year but did not have sufficient data or population for the most recent rankings.”
From this we can conclude that the source has only published results that had solid data to support it, thus making the research conducted accurate.

In terms of pre-processing, we cleaned the data as we entered it into our dataset. We checked that it included at least a year’s worth of data to observe trends for appropriate time frames.
We checked that it was consistent with our other data set. We checked that it was a trustworthy source.

To get the data into a usable format we had to take research and statistics from various websites related to our study.
We then had to transform the file type twice. First, we inputted data into an Excel spreadsheet for ease of viewing and editing.
Second, we converted the file into a CSV to be read by pandas.

### Set up

In [10]:
import pandas as pd
import numpy as np

## Dataset #1 - US Accidents (2016 - 2023)

Because the original dataset was too large to be uploaded on GitHub, we cleaned the data locally with the following code:


```python
df = pd.read_csv('US_Accidents_March23.csv')

# create a subset of the dataset with relevant year 2017, which we will be using for the rest of the project
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

accidents_df = df[df['State'] == 'CA'][df['Start_Time'].dt.year == 2017]
accidents_df = accidents_df.get(['Start_Time', 'Severity', 'City', 'Description']).sort_values(by='Start_Time').reset_index(drop=True)

accidents_df.to_csv(r"~\AccidentData.csv", index=False)
```

In [11]:
accident_df = pd.read_csv('AccidentData.csv')

# normalize severity to be on a scale of 0-1 instead of 1-4 to make comparing easier later on
accident_df['Severity'] = accident_df['Severity']/4

accident_df.head()

,Start_Time,Severity,City,Description
0,2017-01-01 00:03:31,0.75,Norwalk,Accident on I-5 Northbound at Exits 120 120A B...
1,2017-01-01 00:09:26,0.75,Lynwood,Accident on I-710 Southbound at Exits 12 12A 1...
2,2017-01-01 00:09:52,0.75,Hesperia,Accident on I-15 Northbound at Exit 138 Oak Hi...
3,2017-01-01 00:10:14,0.50,Pasadena,Accident on CA-110 Southbound at Glenarm St.
4,2017-01-01 00:11:14,0.75,Colton,Accident on I-10 Eastbound at Exit 72 I-215.

## Dataset #2 - Highest Public Transit Usage Cities in California

In [12]:
City = ['San Francisco', 'Oakland', 'Berkeley', 'Daly City', 'Alameda', 'San Leandro', 'Richmond', 'Pleasanton', 'San Mateo', 'Concord', 'San Ramon', 'Hayward', 'Los Angeles', 'Mountain View', 'Fremont', 'Antioch', 'Sunnyvale', 'Pittsburg', 'East Los Angeles', 'Redwood City', 'Vallejo', 'Pasadena', 'Long Beach', 'El Cajon', 'San Jose', 'Santa Clara', 'Santa Ana', 'Inglewood', 'South Gate', 'San Diego', 'Downey', 'Sacramento', 'Chula Vista', 'Santa Clarita', 'Glendale', 'Anaheim', 'Escondido', 'Riverside', 'Santa Rosa', 'Oceanside', 'Santa Barbara', 'Elk Grove', 'Palmdale', 'San Bernardino', 'Fullerton', 'Fresno', 'Moreno Valley', 'Pomona', 'Huntington Beach', 'Santa Maria', 'Lancaster', 'Ontario', 'Garden Grove', 'Corona', 'Bakersfield', 'Stockton', 'Rancho Cucamonga', 'Lakewood', 'San Buenaventura (Ventura)', 'Irvine', 'Visalia', 'Napa']
Percent_Used = [0.347, 0.227, 0.221, 0.207, 0.185, 0.149, 0.121, 0.105, 0.103, 0.099, 0.098, 0.098, 0.089, 0.088, 0.081, 0.079, 0.076, 0.071, 0.066, 0.066, 0.061, 0.055, 0.055, 0.053, 0.05, 0.049, 0.048, 0.047, 0.046, 0.04, 0.038, 0.038, 0.036, 0.034, 0.033, 0.031, 0.03, 0.03, 0.026, 0.023, 0.023, 0.021, 0.021, 0.021, 0.021, 0.02, 0.019, 0.018, 0.018, 0.018, 0.016, 0.015, 0.014, 0.012, 0.011, 0.011, 0.011, 0.008, 0.008, 0.008, 0.006, 0.005]

transit_df = pd.DataFrame({'City':City, 'Percent Using Transit':Percent_Used})

transit_df

                          City  Percent Using Transit
0                San Francisco                  0.347
1                      Oakland                  0.227
2                     Berkeley                  0.221
3                    Daly City                  0.207
4                      Alameda                  0.185
..                         ...                    ...
57                    Lakewood                  0.008
58  San Buenaventura (Ventura)                  0.008
59                      Irvine                  0.008
60                     Visalia                  0.006
61                        Napa                  0.005

[62 rows x 2 columns]

In [13]:
# To better compare the datasets, we will merge them by city name.

accident_df_new = accident_df.groupby('City').agg(avg_severity=('Severity', np.mean), num_accidents=('Description', np.count_nonzero)).reset_index()
accidents_vs_transit = pd.merge(accident_df_new, transit_df, on='City')
accidents_vs_transit.head(10)

C:\Users\rikak\AppData\Local\Temp\ipykernel_20500\2025032227.py:3: FutureWarning: The provided callable <function mean at 0x000002A3CAEC5080> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  accident_df_new = accident_df.groupby('City').agg(avg_severity=('Severity', np.mean), num_accidents=('Description', np.count_nonzero)).reset_index()

          City  avg_severity  num_accidents  Percent Using Transit
0      Alameda      0.500000              6                  0.185
1      Anaheim      0.546612           2022                  0.031
2      Antioch      0.514423            208                  0.079
3  Bakersfield      0.534253            562                  0.011
4     Berkeley      0.694248            565                  0.221
5  Chula Vista      0.662577            326                  0.036
6      Concord      0.540720            528                  0.099
7       Corona      0.576827           1793                  0.012
8    Daly City      0.640288            278                  0.207
9       Downey      0.696450            845                  0.038

## Dataset #3 - Population per City in California

In [14]:
population_df = pd.read_excel('SUB-IP-EST2019-ANNRES-06.xlsx')

population_df.head()

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
3,"Adelanto city, California",31765,31760,31661,31864.0,31088.0,31206.0,32522.0,32961.0,33249.0,33952.0,34070.0,34049.0
4,"Agoura Hills city, California",20330,20336,20338,20475.0,20544.0,20591.0,20648.0,20740.0,20665.0,20572.0,20411.0,20222.0

In [15]:
# The code does not have proper column markers, and has excess information. We will fix that with the following:

# Fix column values
col_values = population_df.iloc[2]
col_values[0] = population_df.iloc[1][0]
population_df.columns = col_values

# Simplify rows and columns
population_df = population_df[3:]
population_df = population_df.reset_index(drop=True).get(['Geographic Area', 2017.0]).rename(columns={'Geographic Area': 'City', 2017.0:'Population in 2017'})
population_df['City'] = population_df['City'].str.title().str.replace(', California', '').str.replace(' City', '')
population_df.dropna(inplace=True)

    
population_df.head()

C:\Users\rikak\AppData\Local\Temp\ipykernel_20500\786506040.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  col_values[0] = population_df.iloc[1][0]
C:\Users\rikak\AppData\Local\Temp\ipykernel_20500\786506040.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_values[0] = population_df.iloc[1][0]
C:\Users\rikak\AppData\Local\Temp\ipykernel_20500\786506040.py:5: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  col_values[0] = population_df.iloc[1][0]

2          City  Population in 2017
0      Adelanto             33952.0
1  Agoura Hills             20572.0
2       Alameda             79037.0
3        Albany             20076.0
4      Alhambra             84878.0

In [16]:
#We will merge this into the dataset 'accidents_vs_transit' to get the per-capita accident rate of each city.

clean_df = pd.merge(accidents_vs_transit, population_df, on='City')
clean_df = clean_df.assign(accident_rate = clean_df['num_accidents']/clean_df['Population in 2017'])

clean_df = clean_df.get(['City', 'num_accidents', 'Population in 2017', 'accident_rate', 'avg_severity'])

# Look at some values in our cleaned dataframe
clean_df.head(10)

          City  num_accidents  Population in 2017  accident_rate  avg_severity
0      Alameda              6             79037.0       0.000076      0.500000
1      Anaheim           2022            350476.0       0.005769      0.546612
2      Antioch            208            111494.0       0.001866      0.514423
3  Bakersfield            562            377940.0       0.001487      0.534253
4     Berkeley            565            122164.0       0.004625      0.694248
5  Chula Vista            326            269046.0       0.001212      0.662577
6      Concord            528            129592.0       0.004074      0.540720
7       Corona           1793            167310.0       0.010717      0.576827
8       Downey            845            112426.0       0.007516      0.696450
9     El Cajon            371            103468.0       0.003586      0.602426

Through cleaning the data, it can be observed that the length of our dataset shortened to 58 observations. This is due to some of the values not being in the other datasets.

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [17]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [18]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

There should not be an issue with any biases from the source of collection as the dataset that we are exmaining the data from takes the data from multiple APIs which broadcast traffic data which is captured from various sources, including the US and state departments of transportation, law enforcement agencies, trafic cameras, and trafic sensors within road network. This should allow us to avoid any biases as there are many sources of information that went into this dataset which can validate each other. Additionally, as some of the data is taken in from traffic cameras and sensors, the data is inputted by a machine/algorithm which will remove human biases.

However, there may be biases in which accidents were reported to the government as there may be racial/ethical biases when it came to reporting the accidents to the government.
This may exclude certain demographics of people or target others, but as we are not focusing on race/demographics, it should not affect our data analysis as much. Additionally, since the data is vastly spread across the country and over the time frame of 2016 - 2013, the data should even out itself.

One factor we may fail to fully consider is the location and its impact on each accident.
For example, there may be weather conditions or other variables that we are unable to record that may be the main reason for the accident, yet we concluded a different reasoning with the information we analyzed.
However, this should still be acceptable as the main goal of our hypothesis and research is to find out how certain factors consistently result in an accident.
In other words, our focus is more on concluding if there will be an accident if a certain variable is present, rather than which variable is the most crucial out of all variables to lead to an accident.


We will detect these specific biases before analysis by thoroughly discussing our research question before finding datasets and identifying any additional variables that would skew our data and affect our question.
During data analysis, we will identify any points in the data that do not match up with the rest of the data and conduct additional research to identify whether those specific data points are abnormalities or whether they are biases that we did not take into account before.
Then, we will explain the abnormalities/biases in our analysis and discuss how this affects our data.
After we have already written our analysis of the data, we will proofread our conclusion for any other biases that may stand out and if they do occur, we will revise and address them again.
Additionally, we may conduct a peer review (if allowed) with another group so we can have unbiased feedback.

We will not be avoiding anyone's privacy when collecting data about the public transportation usage rates as the rates are generalized to the entire city and should not be exposing any indivdual person's privacy. To avoid violating anyone's privacy who was involved in the accident, we may remove/recode any information that can identify the individual(s) involved in the accident. This includes any distinguishing features about the vehicles involved in the accident. 

Our question will not bring up any ethical concerns as it does not dive into the demographics of any of the people involved in the study. It only takes into account the public rates of public transportation usage and car accident data. Our question will not have any ethical implications.

# Team Expectations


* *Keep in touch with group members via iMessage or Discord groupchat.*
* *Encourage open communication about progress, challenges, and any assistance needed to complete tasks on time.*
* *Fill out When2Meet's on time in order to coordinate meeting times.*
* *Be open to adjusting timelines, strategies, or goals as needed to ensure the project's success*
* *Complete individually assigned tasks on time and hold each team member accountable for their assigned tasks and deadlines*
* *Define each team member's role and responsibilities within the project. Make sure everyone understands what is expected of them and how their contributions fit into the overall project goals.*
* *Set clear deadlines for project deliverables and milestones*
* *Break down the project into manageable tasks with specific timelines to track progress and ensure that the project stays on schedule*

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/3  |  12 PM | Determind best form of communication  | Complete Previous Project Review Assignment | 
| 2/7  |  6:30PM |  Brainstorm ideas for project | Work on Project Proposal Assignment | 
| 2/12 | 8:30 PM |  Brainstorm any new ideas for project + potential datasets | Finish Project Proposal Assignment|
| 2/17  | 12 PM | Find Data and work on Research. Review Feedback and brainstorm any additional changes | Start on Checkpoint #1: Data   |
| 2/22  | 3 PM | Attend office hours for more project insight | Discuss what to add/change to the project. Assign roles to different sections |
| 2/22 - 2/25  | between meetings | Work on individually assigned parts of the Checkpoint. Communicate with team members any changes or issues | On your own work |
| 2/25  | 6:30 PM  | Import & Wrangle Data. Individual tasks. | Discuss any findings and update group on project made. Complete Checkpoint #1: Data   |
| 3/2 | 12 PM  | Review any feedback and brainstorm appropriate changes in response. | Start on Checkpoint #2: EDA |
| 3/2 - 3/19 | between meetings  | Work on assigned roles. Update team members on any changes or issues. | On your own work|
| 3/10 | 6:30 PM  | Complete analysis; Draft results/conclusion/discussion | Confirm and finalize what changes should be made. Complete Checkpoint #2: EDA  |
| 3/15 | 12 PM  | Work on assigned Tasks | Work together to discuss and wrap up the Final Project |
| 3/20  | Before 11:59 PM  | Make final edits and prepare to turn in Final Project | Turn in Final Project & Group Project Surveys |